body {
  font-family: 'Josefin Sans', sans-serif; /*font of body text. Google font */
  font-size: 12pt;
  position: relative;
  margin:0;
}
/* Home Page */
h1 {
  position: relative;
  width: 100%;
  padding-top: 400px;
  color: #555;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 40px;
  z-index: 40;
  opacity: 1.0;
  text-align: center;
  vertical-align: center;
}
/* Home Page */
h2 {
    position: relative;
    width: 100%;
    color: #555;
    z-index: 50;
    opacity: 1.0;
    text-align: center;
    vertical-align: center;
  }
/* Projects and Skills */
h3 {
  font-size: 16pt;

}
/* Home Page textbox*/
div.textbox {
  background-color: #f1f1f1;
  text-align: left;
  opacity: 0.5;
  position: absolute;
  margin-top: 10px;
  right: 10px;
  z-index: 30;
  padding: 10px;
  }

  /* Contact textbox*/
  div.contact {
    background-color: #f1f1f1;
    text-align: center;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 30;
    padding: 15px;
    line-height: 1.8;
    font-size: 18px;
    }

  /* Blog textbox */
  div.blog {
      background-color: #f1f1f1;
      text-align: left;
      opacity: 0.8;
      position: relative;
      top: 70px;
      left: 10%;
      width: 80%;
      margin-top: 20px;
      z-index: 30;
      padding: 15px;
      line-height: 1.8;
      }

  /* For Skills and projects */
  tr, th, td {
      top: 50px;
      position: relative;
      padding: 20px;
      text-align: left;
      margin-left: 20px;
      margin-right:: 20px;
  }

  /* For Skills and projects */
  table{
    top: 70px;
    left: 10%;
    background-color: white;
    position: relative;
    z-index: 30;
    width: 60%;
    opacity: 0.8;
    padding-bottom: 40px;
  }

  /* Projects */
  td.header {
    width: 35%;

  }
  /* Skills */
  img.icons {
    width: 80px;   /* Size of icons */

  }

  /* Enlarge photos in the proct page when hover*/
    span{
      position:absolute; /*see support section for more info on positioning*/
      left: -9999px; /*moves the span off the page, effectively hidding it from view*/
    }

    img.projects{
      background-color: #f1f1f1; /*frame colour*/
      padding: 6px; /*frame size*/
    }

    /* Shows bigger picture when hover */
    td.enlarge:hover{
      z-index: 50; /*places the popups infront of the thumbnails, which has a smaller z-index
      cursor:pointer; /*changes the cursor to a hand*/
    }
    /***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/
    td.enlarge:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
      top: 0px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
      left: -20px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    /***To make it look neater we used :nth-child to set a different left distance for each image***/
    td.enlarge:hover:nth-child(2) span{
      left: -100px;
    }
    td.enlarge:hover:nth-child(3) span{
      left: -200px;
    }


/* To se backgroud images */
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    opacity: 0.5;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

  }
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

/* Gallery for photos */
  div.gallery {
    font-size: 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  a.gallery {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
  }

  a.gallery:nth-of-type(2n) {
    margin-right: 0;
  }

  figcaption{
    color: #000;
    margin-top: 4px;
  }

  @media screen and (min-width: 50em) {
    a.gallery {
      width: calc(25% - 6px);
    }

    a.gallery:nth-of-type(2n) {
      margin-right: 8px;
    }

    a.gallery:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  /* responsive navigation */

  .topnav{
  overflow: hidden;
  float: left;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: #f1f1f1;
  opacity: 1.0;
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #444D5C;
  color: white;
}

.topnav a.active {
    background-color: #50606F;
    color: white;
    font-weight: bold;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* Date in the bottom of the home page */

#date {
  background-color: #f1f1f1;
  text-align: left;
  opacity: 0.5;
  position: fixed;
  margin-top: 10px;
  right: 10px;
  bottom: 0px;
  z-index: 30;
  padding: 10px;

}
